* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffa559;
  font-family: "Bebas Neue", sans-serif;
}

.h3Index {
  text-align: center;
}

.productosRecomendados {
  width: 200px;
  height: 200px;
  margin-left: 25px;
}

.categoriaVegana {
  margin-top: 25px;
}

.veganCategory {
  text-align: center;
  margin-top: 10px;
}

.hamburguesas {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 20px;
}

.mailImg {
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

.wsppImg {
  height: 100px;
  width: 100px;
}

.imagenRestaurant1 {
  width: 400px;
  height: 267px;
  margin-top: 50px;
  margin-left: 500px;
}

.imagenRestaurant2 {
  width: 400px;
  height: 267px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
}

.bodyQuienesSomos {
  font-size: xx-large;
  margin-top: 30px;
  margin-right: 40px;
}

.imgLogo2 {
  width: 150px;
  height: 150px;
  padding: 8px;
  margin-top: 50px;
  margin-left: 850px;
}

.indexHeader {
  background-color: rgb(1, 56, 92);
  border-bottom: 1px;
  border-color: black;
  border-style: double;
  width: 100%;
  display: table;
}

.productosRecomendadosSection {
  margin-top: 10px;
}

.mejoresProductos {
  margin-top: 50px;
  border-color: #454545;
  border-style: solid;
  border-width: 0.2rem;
  padding: 6px;
  background-color: #ff6000;
  margin-bottom: 10px;
}

.producto1 {
  width: 500px;
  border-color: #454545;
  border-style: solid;
  border-width: 0.2rem;
  padding: 6px;
  background-color: #ff6000;
}

.liNav {
  margin-left: 75px;
  padding: 12px 0;
  float: left;
}

h1 {
  font-size: 50px;
  text-decoration: underline #454545;
  text-align: center;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
}
h2 {
  font-size: 35px;
  text-decoration: underline #454545;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}
h3 {
  font-size: 25px;
}
.headerStyle {
  background-color: #ff6000;
  border-color: #454545;
  border-bottom: solid;
  border-top: solid;
  margin-top: 10px;
}

.categoryText {
  background-color: #ff6000;
  border-color: #454545;
  border-style: solid;
  margin-top: 10px;
}

.gridSystem {
  background-color: black;
}

.productoMasVendido {
  margin-top: 1;
  align-items: center;
}
.logoIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
}
.navbar {
  background-color: #ff6000;
  border-color: #454545;
  border-bottom: solid;
  font-size: 25px;
}
.container {
  margin-top: 20px;
}
.carousel {
  margin-top: 30px;
}

.card {
  background-color: #ff6000;
  height: 25rem;
  width: 25rem;
  padding: 10px;
  margin-right: 5px;
  border-color: #454545;
  border-style: solid;
  border-radius: 1px;
  border-width: 0.2rem;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 2px;
  margin-top: 15px;
}
.productsCategoryCads {
  background-color: #ff6000;
  height: 22rem;
  width: 20rem;
  padding: 10px;
  margin-right: 5px;
  border-color: #454545;
  border-style: solid;
  border-radius: 1px;
  border-width: 0.2rem;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 2px;
}
a:hover {
  background-color: #454545;
  font-size: 1.6rem;
}
