* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #ffa559;
  font-family: "Bebas Neue", sans-serif; }
  body .grad1 {
    background: linear-gradient(top, pink, violet, purple); }
  body section .container {
    margin-top: 20px;
    justify-content: center; }
  body section div div .mejoresProductos {
    margin-top: 30px;
    border-color: #454545;
    border-style: solid;
    border-width: 0.2rem;
    padding: 6px;
    background-color: #ff6000;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: -25px; }
  body section div .producto1 {
    width: 500px;
    border-color: #454545;
    border-style: solid;
    border-width: 0.2rem;
    padding: 6px;
    background-color: #ff6000; }
  body .container {
    margin-top: 20px;
    justify-content: center;
    align-items: center; }
    body .container .mejoresProductos {
      margin-top: 30px;
      border-color: #454545;
      border-style: solid;
      border-width: 0.2rem;
      padding: 6px;
      background-color: #ff6000;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: -25px; }
      body .container .mejoresProductos .cardsRec {
        display: flex;
        margin-left: 1px; }

section .imgLogo2 {
  border: solid;
  border-color: #454545; }

body .headerStyle {
  background-color: #ff6000;
  border-color: #454545;
  border-bottom: solid;
  border-top: solid;
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif; }

body section .categoryText {
  background-color: #ff6000;
  border-color: #454545;
  border-style: solid;
  margin-top: 10px; }

body .bodyQuienesSomos {
  background-color: #ff6000;
  border: solid;
  border-color: #454545;
  font-family: "Bebas Neue", sans-serif;
  font-size: xx-large; }

body .imagenRestaurant1 {
  width: 400px;
  height: 267px;
  margin-top: 50px;
  background-color: #ff6000;
  border: solid;
  border-color: #454545;
  padding: 8px;
  margin-bottom: 10px; }

body .imagenRestaurant2 {
  width: 400px;
  height: 267px;
  margin-top: 50px;
  background-color: #ff6000;
  border: solid;
  border-color: #454545;
  padding: 8px;
  margin-bottom: 10px; }

body main section .wsppImg {
  height: 100px;
  width: 100px; }
  @media (max-width: 3840px) {
    body main section .wsppImg {
      margin-left: 400px; } }
  @media (max-width: 992px) {
    body main section .wsppImg {
      margin-left: 0px; } }

@media (max-width: 3840px) {
  body main section .telefono {
    margin-right: 500px; } }

@media (max-width: 992px) {
  body main section .telefono {
    margin-left: 210px;
    margin-top: 15px; } }

body main section .mailImg {
  height: 100px;
  width: 100px;
  margin-top: 10px; }
  @media (max-width: 3840px) {
    body main section .mailImg {
      margin-left: 400px; } }
  @media (max-width: 992px) {
    body main section .mailImg {
      margin-left: 0px; } }

@media (max-width: 3840px) {
  body main section .correo {
    margin-right: 500px; } }

@media (max-width: 992px) {
  body main section .correo {
    margin-left: 170px;
    margin-top: 15px;
    margin-bottom: 10px; } }

body div div .loginArea {
  background-color: #ff6000;
  border: solid;
  border-color: #454545;
  padding: 50px; }

.navbar {
  background-color: #ff6000;
  border-color: #454545;
  border-bottom: solid;
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif; }

.carousel {
  margin-top: 30px; }

.card {
  background-color: #ff6000;
  padding: 10px;
  margin-left: 100px;
  border-color: #454545;
  border-style: solid;
  border-radius: 1px;
  border-width: 0.2rem;
  text-align: center;
  margin-bottom: 15px;
  height: 25rem;
  width: 25rem;
  margin-top: 15px; }
  @media (max-width: 960px) {
    .card {
      margin-left: 40px; } }

.productsCategoryCads {
  background-color: #ff6000;
  padding: 10px;
  margin-left: 100px;
  border-color: #454545;
  border-style: solid;
  border-radius: 1px;
  border-width: 0.2rem;
  text-align: center;
  margin-bottom: 15px;
  height: 22rem;
  width: 20rem;
  margin-left: 150px; }
  @media (max-width: 960px) {
    .productsCategoryCads {
      margin-left: 100px; } }

.h3Index {
  text-align: center; }

h1 {
  font-size: 50px;
  text-decoration: underline #454545;
  text-align: center;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif; }

h2 {
  font-size: 35px;
  text-decoration: underline #454545;
  text-align: center;
  font-family: "Bebas Neue", sans-serif; }

h3 {
  font-size: 25px; }

.imgLogo2 {
  width: 150px;
  height: 150px;
  padding: 8px;
  margin-top: 50px;
  margin-left: 850px;
  border: solid;
  border-color: #454545;
  background-color: #ff6000; }

.imgLogo3 {
  width: 150px;
  height: 150px;
  padding: 8px;
  border: solid;
  border-color: #454545;
  background-color: #ff6000; }

.logoIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545; }

.imagenRestaurant1 {
  width: 400px;
  height: 267px;
  margin-top: 50px; }

.imagenRestaurant2 {
  width: 400px;
  height: 267px;
  margin-top: 50px; }

a:hover {
  background-color: #454545;
  font-size: 1.6rem; }
