.imgLogo2 {
  width: 150px;
  height: 150px;
  padding: 8px;
  margin-top: 50px;
  margin-left: 850px;
  border: solid;
  border-color: $themeColor2;
  background-color: $themeColor;
}

.imgLogo3 {
  width: 150px;
  height: 150px;
  padding: 8px;
  border: solid;
  border-color: $themeColor2;
  background-color: $themeColor;
}

.logoIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $themeColor2;
}




