// Vars
$font: "Bebas Neue", sans-serif;
$bgColor: #ffa559;
$themeColor: #ff6000;
$themeColor2: #454545;
$fontGrad: 25px;
$positionGrad: center;


@import "bodyPartial";

// componentes de bootstrap(cards, navBar, etc)

@import "bootstrapComponents";

// componentes de bootstrap(cards, navBar, etc)

// Strings como (H1, H2, etc)

@import "string";

// Strings como (H1, H2, etc)

// imagenes o logo

@import "imgs";

// imagenes o logo

// Include
@mixin mejoresProductosIndex {
  margin-top: 30px;
  border-color: $themeColor2;
  border-style: solid;
  border-width: 0.2rem;
  background-color: $themeColor;
  margin-bottom: 10px;
}
@mixin imgsRestaurant {
  margin-top: 50px;
  background-color: $themeColor;
  border: solid;
  border-color: $themeColor2;
  padding: 8px;
  margin-bottom: 10px;
}

@mixin bodyStyle {
  background-color: $bgColor;
  font-family: $font;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Body de "index.html"

body {
  @include bodyStyle();
  
  header{

    nav{
      a:hover{
        background-color: $themeColor2;
        font-size: 1.5rem;
      }
    }
  }

  main{

    .container {
      margin-top: 20px;
      justify-content: center;
      
      div {
        // Producto mas vendido
        
        .mejoresProductos {
          @include mejoresProductosIndex();
        }
        
        .producto1 {
          border-color: $themeColor2;
          border-style: solid;
          border-width: 0.2rem;
          padding: 6px;
          background-color: $themeColor;
        }
      }
      // Producto mas vendido
    }
    
    .container {
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      
      div {
        .mejoresProductos {
          @include mejoresProductosIndex();
          @media (max-width: 400px) {
            font-size: xx-large;
          }
        }
      }
    }
  }
  }
  
  // Body de "index.html"
  
// Body de "productos.html"




body {
  @include bodyStyle();
  .headerStyle {
    background-color: $themeColor;
    border-color: $themeColor2;
    border-bottom: solid;
    border-top: solid;
    margin-top: 10px;
    font-family: $font;
    @media (max-width: 400px) {
      font-size: xx-large;
    }
  }
  
  main{
    div {
      .categoryText {
        background-color: $themeColor;
        border-color: $themeColor2;
        border-style: solid;
        margin-top: 10px;
        @media (max-width: 400px) {
          font-size: xx-large;
        }
      }
    }
  }
  
}

// Body de "productos.html"

//Body de "quienesSomos.html"

body {
  main{

    @include bodyStyle();
    .bodyQuienesSomos {
      background-color: $themeColor;
      border: solid;
      border-color: $themeColor2;
      font-family: "Bebas Neue", sans-serif;
      font-size: xx-large;
      @media (max-width: 600px) {
        font-size: large;
      }
    }
    .imagenRestaurant1 {
      @include imgsRestaurant();
      @media (max-width: 460px) {
        width: 300px;
      }
      @media (max-width: 340px) {
        width: 250px;
      }
    }
    .imagenRestaurant2 {
      @include imgsRestaurant();
      @media (max-width: 460px) {
        width: 300px;
      }
      @media (max-width: 340px) {
        width: 250px;
      }
    }
  }
}

//Body de "quienesSomos.html"

//Body de "contacto.html"

body {
  @include bodyStyle();
  main {
    section {
      h2 {
        @media (max-width: 568px) {
          font-size: x-large;
        }
      }
      .wsppImg {
        @media (max-width: 3840px) {
          margin-left: 350px;
        }
        @media (max-width: 992px) {
          margin-left: 0px;
        }
      }
      .telefono {
        @media (max-width: 3840px) {
          margin-right: 500px;
        }
        @media (max-width: 1200px) {
          margin-top: 15px;
          margin-bottom: 10px;
        }
      }
      .mailImg {
        height: 100px;
        width: 100px;
        margin-top: 10px;
        @media (max-width: 3840px) {
          margin-left: 350px;
        }
        @media (max-width: 992px) {
          margin-left: 0px;
        }
      }
      .correo {
        @media (max-width: 3840px) {
          margin-right: 500px;
        }
        @media (max-width: 992px) {
          margin-top: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }
  section{

    .contactoFooter{
      margin-top: 228px;
    }
  }
}

//Body de "contacto.html"


//Body del formulario
body {
  @include bodyStyle();
  div {
    div {
      .loginArea {
        background-color: $themeColor;
        border: solid;
        border-color: $themeColor2;
        padding: 50px;

        .bootstrapButton{
          background-color: $themeColor2;
          color: $themeColor;
        }
      }

    }
  }
  .contactoFooter{
    margin-top: 62px;
  }
}

//Body del formulario


